/* --- System Reset & Variables --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --bg-main: #f4f6f8;        
    --panel-bg: #ffffff;       
    --border-metal: #bec5cb;   
    --text-dark: #2d353c;      
    --eva-blue: #2a6f97;       
    --eva-blue-light: #e1f1fd;  


    
    --neon-turqoise: #00FFDE;
    --neon-light-blue: #00CAFF;
    --neon-blue: #0065F8;
    --neon-darker-blue: #4300FF;
    --neon-red: #FF0052;


    --matrix-bg: #414767;
    --matrix-light-bg: #6e7598;
    --matrix-green: #a4f644;
    --matrix-darker-green: #64d86b;
    --matrix-darkest-green: #5ec986;

}

body {
    background-color: var(--bg-main);
    color: var(--text-dark);
    height: 100vh;
    overflow: hidden;
}


.boot-matrix-container{
    margin: 0%;
    padding: 0%;
    display: flex;
    position:absolute;
    background-color: var(--matrix-bg);
}

.load-bar {
    /* creating loading bar at full width */
    margin: 0%;
    padding: 0%;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    position:absolute;
    background-color: var(--matrix-darker-green);
    z-index: 99; /*move to front*/
}

/* --- Layout Frame --- */
.interface-container {
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    border: 2px solid var(--border-metal);
    background-color: var(--panel-bg);
    position: relative;
}

/* --- Header & Footer Details --- */
.system-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: var(--bg-main);
    color: var(--text-dark);
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 2px;
}

.system-status {
    color: #4cc9f0;
    background-color: var(--eva-blue);
}

.system-footer {
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
    font-size: 0.7rem;
    color: var(--text-dark);
    border-top: 1px solid var(--text-dark);
    letter-spacing: 1px;
}


/* Generic Panel Elements */
.panel-label {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--eva-blue);
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--text-dark);
    padding-bottom: 5px;
}

/* --- Timer Workspace Area --- */
.timer-section {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--panel-bg);
}

.timer-display {
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: var(--text-dark);
    margin: 10px 0;
    font-variant-numeric: tabular-nums; /* Prevents text shifting when numbers change */
}

.sub-label {
    font-size: 0.8rem;
    color: var(--text-dark);
    letter-spacing: 4px;
    border: 2px;
    border-color: var(--text-dark)
}

.status-marker {
    color: var(--eva-blue);
    font-size: 0.9rem;
}